<div
  class="container login-container"
  fxLayout="row"
  fxLayoutAlign="center center"
>
  <form [formGroup]="loginForm" fxFlex="30%" fxFlex.sm="50%" fxFlex.xs="90%">
    <mat-card class="mat-elevation-z8">
      <mat-card-title>Lirium</mat-card-title>
      <mat-card-subtitle>Acceso</mat-card-subtitle>
      <mat-card-content>
        <mat-form-field class="full-width">
          <input
            id="emailInput"
            matInput
            placeholder="Usuario"
            formControlName="email"
            autocomplete="email"
            type="email"
          />

          <mat-error
            id="invalidEmailError"
            *ngIf="loginForm.controls['email'].hasError('email')"
          >
            Por favor Ingrese una cuenta de eMail valida
          </mat-error>
          <mat-error
            id="requiredEmailError"
            *ngIf="loginForm.controls['email'].hasError('required')"
          >
            Ingrese su 
            <strong>usuario</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input
            id="passwordInput"
            matInput
            placeholder="Contraseña"
            formControlName="password"
            type="password"
            autocomplete="current-password"
          />
          <mat-error
            id="requiredPasswordError"
            *ngIf="loginForm.controls['email'].hasError('required')"
          >
            Contraseña es
            <strong>obligatoria</strong>
          </mat-error>
        </mat-form-field>

        <div class="full-width">
          <mat-slide-toggle formControlName="rememberMe"
            >Recordar mi usuario</mat-slide-toggle
          >
        </div>
      </mat-card-content>

      <mat-card-actions class="login-actions">
        <button
          mat-raised-button
          id="login"
          color="primary"
          [disabled]="loginForm.invalid || loading"
          (click)="login()"
        >
          Ingresar
        </button>
        <button
          mat-button
          id="resetPassword"
          (click)="resetPassword()"
          type="button"
        >
          Reiniciar Clave
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </form>
</div>
