table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}


.custom-fab{
    right: 30px;
    bottom: 30px;
    position: fixed !important;
  
  }

  .example-container {
    height: 400px;
    overflow: auto;
  }