<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <mat-card>
      <mat-card-content>
        <h2>Usuarios</h2>

        <div class="container">
          <!-- fxLayout="row" fxLayoutAlign="none none"> -->

          <table mat-table #table [dataSource]="rowData">
            <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef>Usuario</th>
              <td mat-cell *matCellDef="let row">{{ row.username }}</td>
            </ng-container>

            <ng-container matColumnDef="fullname">
              <th mat-header-cell *matHeaderCellDef>Nombre Completo</th>
              <td mat-cell *matCellDef="let row">{{ row.fullname }}</td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>eMail</th>
              <td mat-cell *matCellDef="let row">{{ row.email }}</td>
            </ng-container>

            <ng-container matColumnDef="rol">
              <th mat-header-cell *matHeaderCellDef>Perfil</th>
              <td mat-cell *matCellDef="let row">{{ row.rol }}</td>
            </ng-container>

            <ng-container matColumnDef="datecreate">
              <th mat-header-cell *matHeaderCellDef>Fecha</th>
              <td mat-cell *matCellDef="let row">{{ row.datecreate }}</td>
            </ng-container>
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef>Acciones</th>
              <td mat-cell *matCellDef="let row">
                <button mat-raised-button color="primary">
                  <mat-icon fontSet="fa" fontIcon="fa-edit" ></mat-icon>
                </button>
                <button mat-raised-button color="warn">Del</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnDefs"></tr>
            <tr mat-row *matRowDef="let row; columns: columnDefs"></tr>
          </table>

          <!-- <ag-grid-angular
            #agGrid
            style="width: 100%; height: 500px;"
            class="ag-theme-alpine"
            [rowData]="rowData | async"
            [columnDefs]="columnDefs"
            rowSelection="multiple"
          >
          </ag-grid-angular> -->
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="getSelectedRows()">
          Get Selected Rows
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
